.getValuesBtn {
  background: #ff4265;
  border: 1px solid #ff4265;
}
.getValuesBtn:hover,
.getValuesBtn:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4265;
}

.getValuesBtn:active {
  opacity: 0.5;
}
