h2 {
  margin-bottom: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  color: #fff;
  background-color: #282828;
}
.errors {
  color: red;
  font-size: 0.625rem;
  text-align: left;
  font-weight: 600;
}
.formControl {
  display: flex;
  flex-direction: column;
}

.formBtnAdd {
  background-color: #4caf50;
  border: 1px solid #4caf50;
  &:hover,
  &:active {
    background-color: initial;
    background-position: 0 0;
    color: #4caf50;
  }
}

.submitBtn {
  background: #4245ff;
  border: 1px solid #4245ff;
}
.submitBtn:hover,
.submitBtn:active {
  background-color: initial;
  background-position: 0 0;
  color: #4245ff;
}

.submitBtn:active {
  opacity: 0.5;
}
.getValuesBtn {
  background: #ff4265;
  border: 1px solid #ff4265;
}
.getValuesBtn:hover,
.getValuesBtn:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4265;
}

.getValuesBtn:active {
  opacity: 0.5;
}

.setValuesBtn {
  background: #42ecff;
  border: 1px solid #42ecff;
}
.setValuesBtn:hover,
.setValuesBtn:active {
  background-color: initial;
  background-position: 0 0;
  color: #42ecff;
}

.setValuesBtn:active {
  opacity: 0.5;
}

.deleteBtn {
  width: fit-content;
}
