.formDiv {
  margin: 0 auto;
  padding: 0 80px;
  @media (width > 767px) {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
}
.reactForm {
  display: block;
  width: 100%;
  text-align: center;
}
.reactFormLabel {
  display: block;
  text-align: left;
  @media (width > 320px) {
    text-align: center;
  }
}

.reactFormInput {
  display: block;
  outline: none;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  padding: 10px;
  /* width: 100%; */
  margin: 0 auto;

  @media (width > 767px) {
    display: flex;
  }
}

span {
  font-size: 0.625rem;
  color: #920303;
}

h5 {
  font-size: 0.75rem;
  margin-bottom: 5px;
}
