.submitBtn {
  background: #4245ff;
  border: 1px solid #4245ff;
}
.submitBtn:hover,
.submitBtn:active {
  background-color: initial;
  background-position: 0 0;
  color: #4245ff;
}

.submitBtn:active {
  opacity: 0.5;
}
